%form
  .form-group
    %label{:for => "exampleInputEmail1"} Email address
    %input#exampleInputEmail1.form-control{:placeholder => "PNR Number", name: :pnr_number, :type => "text", value: params[:pnr_number]}
  %button.btn.btn-default{:type => "submit"} Submit

- if @rail_in
  = @pnr_status