%ul.featured-posts
  %li
    %a.thumb{:href => "single.html", :title => "An image"}
      %img{:alt => "Post", :src => "/assets/train1.jpg", class: "feature_img"}
    .excerpt
      .heading>
        %a{:href => "single.html"} Trains
      This the place where you can get all available train lists easily and know the train number as well start station and end station.
  %li
    %a.thumb{:href => "single.html", :title => "An image"}
      %img{:alt => "Post", :src => "/assets/train2.jpg", class: "feature_img"}
    .excerpt
      .heading>
        %a{:href => "single.html"} Stations
      This the place where you can get all available station lists easily and know the station code.
  %li
    %a.thumb{:href => "single.html", :title => "An image"}
      %img{:alt => "Post", :src => "/assets/train3.jpg", class: "feature_img"}/
    .excerpt
      .heading>
        %a{:href => "single.html"} Route
      This the place where you can get Route for particular train and know the station arrival and departure time.
  /
    %li
      %a.thumb{:href => "single.html", :title => "An image"}
        %img{:alt => "Post", :src => "/assets/dummies/290x170.jpg"}/
      .excerpt
        .heading>
          %a{:href => "single.html"} Pellentesque habitant morbi
        Tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam. Donec eu libero sit amet quam egestas semper.
    %li
      %a.thumb{:href => "single.html", :title => "An image"}
        %img{:alt => "Post", :src => "/assets/dummies/290x170.jpg"}/
      .excerpt
        .heading>
          %a{:href => "single.html"} Pellentesque habitant morbi
        Tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam. Donec eu libero sit amet quam egestas semper.
    %li
      %a.thumb{:href => "single.html", :title => "An image"}
        %img{:alt => "Post", :src => "/assets/dummies/290x170.jpg"}/
      .excerpt
        .heading>
          %a{:href => "single.html"} Pellentesque habitant morbi
        Tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam. Donec eu libero sit amet quam egestas semper.
.clear