%input.search{"data-column" => "all", :type => "search"}
  (Match any column)
%input.search{"data-column" => "1", :type => "search"}
  (Station code; Tiruttangal search... try "TTL")
%button.reset{:type => "button"} Reset Search
%table.tablesorter
  %thead
    %th #
    %th{"data-placeholder"=>"Station code"} Code
    %th Name
  %tbody
    - @stations.each_with_index do |station, index|
      %tr
        %td= index + 1
        %td= station.code
        %td= station.name
