/ FOOTER
#footer
  .footer-wrapper
    / footer-cols
    %ul#footer-cols
      %li
        %h6 About the IRCTC
        %p Indian Railway Catering and Tourism Corporation, is a subsidiary of the Indian Railways that handles the catering, tourism and online ticketing operations of the railways.
        %p
          Accumsan porttitor ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Tincidunt quis, accumsan porttitor,
          = succeed "." do
            %a{:href => "http://luiszuno.com"} luiszuno.com
      %li
        %h6 Awards and achievements
        %p Within a short span of its going online, it had become the largest and the fastest-growing e-commerce website in the Asia-Pacific region, with about six lakh registered users as of 2013.
        %p Some of the other awards won by Indian Railway Catering and Tourism Corporation are:
        %ul
          %li Awarded the National Tourism Award of Excellence by Ministry of Tourism, Govt. of India.
      %li
        #tweets.footer-col.tweet
          %h6 Awards
          %ul
            %li Awarded the National Award for E-Governance, 2007–08 jointly by Department of IT, Govt. of India and Govt. of Haryana.
            %li Awarded the Genius of the Web Award 2007 for being the "Best E-Governance PSU Site" by CNBC.
            %li Won National award for E-Governance for being "Best Citizen Centric Application" for the year 2007–08.
            %li Won the ICICI Bank Retail Excellence Award in 2005.
    / ENDS footer-cols
    #footer-glare
/ ENDS FOOTER
/ footer-bottom
#footer-bottom
  .bottom-wrapper
    #bottom-left
      \&copy; 2015 IRCTC.
    #bottom-right
      %ul#footer-nav
        %li
          %a{:href => trains_path} Trains
        %li
          %a{:href => stations_path} Stations
        %li
          %a{:href => routes_path} Route
          %li
            %a{:href => ticket_fare_path} Ticket Fare
/ ENDS footer-bottom