/ Front slider
#front-slides
  .slides_container
    /
      .slide
        %a{:href => "http://www.luiszuno.com", :target => "blank"}
          %img{:alt => "pic", :height => "360", :src => "/assets/dummies/01.jpg", :width => "940"}/
        .caption Visit my site at luiszuno.com and get freebies each week
      .slide
        %a{:href => "http://themeforest.net/user/Ansimuz/portfolio?ref=ansimuz", :target => "blank"}
          %img{:alt => "pic", :height => "360", :src => "/assets/dummies/02.jpg", :width => "940"}/
        .caption Support the freebies buying premium themes at themeforest.com
    .slide
      %img{:alt => "pic", :height => "360", :src => "/assets/home.jpg", :width => "940"}/
      .caption Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est tristique senectus et netus et malesuada.
  #front-slides-cover
  / Headline
  #headline
    %h6 Indian Railway Catering and Tourism Corporation
  / ENDS Headline
/ ENDS Front slider
