/ nav bar holder
#nav-bar-holder
  / Navigation
  %ul#nav.sf-menu
    %li.current-menu-item
      %a{:href => "index.html"} Home
    %li
      %a{:href => "gallery.html"} Gallery
    %li
      %a{:href => "page.html"} Pages
      %ul
        %li
          %a{:href => "page.html"} Sidebar page
        %li
          %a{:href => "page-fullwidth.html"} Fullwidth page
    %li
      %a{:href => "portfolio.html"} Portfolio posts
    %li
      %a{:href => "blog.html"} Blog
    %li
      %a{:href => "contact.html"} Contact
  / ENDS Navigation
  / Social
  %ul.social
    %li
      %a.poshytip.facebook{:href => "http://www.facebook.com", :title => "Become a fan"}
    %li
      %a.poshytip.twitter{:href => "http://www.twitter.com", :title => "Follow my tweets"}
    %li
      %a.poshytip.dribbble{:href => "http://www.dribbble.com", :title => "Working on..."}
  / ENDS Social
/ ENDS nav bar holder
