/ nav bar holder
#nav-bar-holder
  / Navigation
  %ul#nav.sf-menu
    %li.current-menu-item
      %a{:href => root_path} Home
    %li
      %a{:href => trains_path} Trains
    %li
      %a{:href => stations_path} Stations
    %li
      %a{:href => routes_path} Route
    %li
      %a{:href => ticket_fare_path} Ticket Fare
    %li
      %a{:href => contact_path} Contact
  / ENDS Navigation
  / Social
  %ul.social
    %li
      %a.poshytip.facebook{:href => "http://www.facebook.com", :title => "Become a fan"}
    %li
      %a.poshytip.twitter{:href => "http://www.twitter.com", :title => "Follow my tweets"}
    %li
      %a.poshytip.dribbble{:href => "http://www.dribbble.com", :title => "Working on..."}
  / ENDS Social
/ ENDS nav bar holder
