/ Reel slider
#reel
  .slides_container
    .slide-box
      .box-container
        %img.box-icon{:alt => "pic", :src => "/assets/mono-icons/bargraph32.png"}/
        %h6 Now, cash on delivery 
        = succeed "You" do
          .box-divider
        can now book a rail ticket online and get it delivered at home. Initiating this "cash on delivery"(CoD) system rail ticketing, IRCTC is targeting those customers who are reluctant to use their credit or debit cards also those who don't have net-banking facility.
      .box-container
        %img.box-icon{:alt => "pic", :src => "/assets/mono-icons/boxupload32.png"}/
        %h6 'e-wallet' scheme
        = succeed "IRCTC" do
          .box-divider
        has launched e-wallet, a user-friendly scheme aimed at making purchase of e-tickets easier. The e-wallet is a rolling deposit scheme wherein the customers will have an account with the IRCTC and deposit money to be used in future for booking e-tickets from its website .
      .box-container
        %img.box-icon{:alt => "pic", :src => "/assets/mono-icons/article32.png"}/
        %h6 e-catering service
        = succeed "IRCTC" do
          .box-divider
        has started e-catering services for 76 trains, in its bid to provide quality food to passengers. Passengers can order food at www.ecatering.irctc.co.in or call the toll-free number 1800-1034-139 or 0120-4383892-99 to avail the facility, a senior IRCTC official said.
  %a.prev{:href => "#"}
  %a.next{:href => "#"}
/ ENDS Reel slider
